<div class="well well-lg" style="margin-top:3%">
  <div class="row">
    <div class='col-md-1'>
      <%= vote_button question %>
    </div>
    <div class='col-md-3'>
      <%= question.body %>
    </div>
    <div class='col-md-4'>
    
      <%= image_tag("vote.png", :size => "50x50", :alt => "Edit Entry") %>
      <%= pluralize(question.votes.up.count, 'vote') %>
      
    </div>
  </div>
  
</div>
