<div class="well well-lg" style="margin-top:3%">
  <div class="row">
    <div class='col-md-1'>
      <%= vote_button question %>
    </div>
    <div class='col-md-4'>
      <%= question.body %>
    </div>
    <div class='col-md-4'>
      <%= question.votes.up.count %>
    </div>
  </div>
  
</div>
