<ul ng-controller="QuestionsCtrl" ng-init="get('<%= event.id%>')">
 
  <li class="row question animate-repeat" ng-repeat="question in questions | orderBy:predicate:reverse"  class="animate-repeat">
    <div>
      
      <button ng-click="up(question)" class="btn btn-success" id="bluebutton" ng-show="!question.liked" style="width:6%"><i class='fa fa-thumbs-up'></i>Up
      </button>
  
      <button class="btn btn-success" ng-click="down(question)" ng-show="question.liked" style="width:6%"><i class='fa fa-thumbs-down'></i>Down</button>
      {{question.body }} {{question.votes}}
    </div>
   
  </li>
  <form ng-submit="addQuestion()">
    <input type="text" ng-model="question.body" placeholder="Enter a question here">
    <input type="text" ng-model="question.votes" placeholder="Enter votes here">
    <input type="submit" value="Ask">
  </form>
</ul>
