<div class="container">
  <%= form_for @event, :html => {:class => 'form-signin', 'role' => 'form'} do |f| %>
    <h2 class="form-signin-heading">Create Event</h2>
    <%= f.text_field :name,placeholder:"Event name:", :autofocus => true,class:"form-control",required: true %><br>
    <%= f.submit "Create Event",class:"btn btn-lg btn-primary btn-block" %>
  <% end %> 
</div>