
<%= form_for :question, :url => event_questions_path(@event),remote: true do |f| %>
<div class="col-xs-9">
  <%= f.text_field :body,placeholder:"Ask your question here",class:"form-control",id:"body" %>
 
</div>
 <%= f.submit "Ask",class: "btn btn-primary"%>
<% end %>
 
<ul class="questions">
  <%= render :partial => 'questions/questions', :locals => { :event => @event } %>
</ul>
