<div class="container">
  <%= form_for :subscriber, :url => user_join_path(current_user), :html => {:class => 'form-signin', 'role' => 'form'} do |f| %>
    <h2 class="form-signin-heading">Join Event</h2>
    <%= f.text_field :code,placeholder:"Event code", :autofocus => true,class:"form-control",required: true %><br>
    <%= f.submit "Join Event",class:"btn btn-lg btn-primary btn-block" %>
  <% end %> 
</div>