.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
color: #fff;
background-color: #d22d5f !important;
border-color: #c12a58;
}
.btn-danger {
color: #fff;
background-color: #d94f79 !important;
border-color: #d94f79;
}

.alert {
  overflow: hidden;
  z-index: 999;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a1c300;
  background-color: rgba(161, 195, 0, 0.8);
  height: 0;
  color: white;
  padding: 9px 0;
  text-shadow: rgba(99, 130, 0, 0.75) 1px 1px 1px;
  font-size: 21px;
 
}

.alert.warning {
 background-color:#800;
 }