.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
color: #fff;
background-color: #d22d5f !important;
border-color: #c12a58;
}
.btn-danger {
color: #fff;
background-color: #d94f79 !important;
border-color: #d94f79;
}

